# Server Configuration
NODE_ENV=development
PORT=3000
BANK_NAME=OA-Pank

# Production Settings
PRODUCTION_DOMAIN=https://hack2you.eu/
PRODUCTION_IP=http://65.21.57.169
REQUIRE_CENTRAL_BANK=false

# Database Configuration
DB_PATH=./data/database.sqlite

# Security
JWT_SECRET=your-jwt-secret
SESSION_SECRET=your-session-secret

# Central Bank Integration
CENTRAL_BANK_URL=https://henno.cfd/central-bank
CENTRAL_BANK_CLIENT_ID=your-client-id
CENTRAL_BANK_CLIENT_SECRET=your-client-secret
BANK_PREFIX=OAP
BANK_NAME=OA-Pank
BANK_OWNERS=Andre Park
# Development
# BASE_URL=http://localhost:3000
# Production
BASE_URL=https://hack2you.eu